USE [master]
GO
/****** Object:  Database [chatData]    Script Date: 2019/4/10 17:15:27 ******/
CREATE DATABASE [chatData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatData', FILENAME = N'D:\chatData.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'chatData_log', FILENAME = N'D:\chatData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatData]
GO
/****** Object:  Table [dbo].[account]    Script Date: 2019/4/10 17:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[name] [varchar](50) NOT NULL,
	[password] [char](32) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[account] ([name], [password]) VALUES (N'3', N'ECCBC87E4B5CE2FE28308FD9F2A7BAF3')
INSERT [dbo].[account] ([name], [password]) VALUES (N'4', N'A87FF679A2F3E71D9181A67B7542122C')
INSERT [dbo].[account] ([name], [password]) VALUES (N'banana', N'72B302BF297A228A75730123EFEF7C41')
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account'
GO
USE [master]
GO
